.App {
  text-align: center;
  font-size: 18px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.button {
  background-color: #4a4494;
  border-radius: 8px;
  border: 2px solid white;
  color: white;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: white;
  color: black;
}