.option-list {
    color: white;
    text-align: left;
    height: 100%;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.no-bullet {
    list-style-type: none;
    margin: 0;
    padding: 0;
}