.info-container {
    padding: 10px 10px;
}

.info {
    background-color: white;
    border-radius: 8px;
    border: 1px solid white;
    color: rgb(37, 215, 21);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}