.input {
    background-color: #9d9ca4;
    border-radius: 8px;
    color: black;
    padding: 5px 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition-duration: 0.4s;
}

.input:hover {
    background-color: white;
}

.input::-webkit-input-placeholder {
    color: rgb(229, 229, 229)
}