.selector {
    border-radius: 8px;
    border: 1px solid black;
    color: black;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition-duration: 0.4s;
    width: 200px;
}
