.warning-container {
    padding: 10px 10px;
}

.warning {
    background-color: rgb(170, 172, 218);
    border-radius: 8px;
    border: 1px solid white;
    color: rgb(21, 31, 215);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.icon-w {
    width: 50px;
    height: 50px;
    margin-right: 8px;
}

.icon-warn {
    background: url("../resources/icon/warn-blue.png");
}